<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion de scripts</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css" rel="stylesheet"
          type="text/css">
</head>
<body>
<div class="ui container">
    <div class="ui grid">
        <div class="row"></div>
        <div class="row">
            <div class="ui menu top attached">
                <a class="header item" href="/index">
                    GESTION DE SCRIPTS
                </a>
                <div class="right menu">
                    <div class="item">
                        {{#connected}}
                        <div class="ui left labeled button" tabindex="0">
                            <a class="ui basic label">
                                {{&identity}}
                            </a>
                            <a class="ui button" href="/logout">
                                <i class="icon sign out alternate"></i>
                                Se déconnecter
                            </a>
                        </div>
                        {{/connected}}
                        {{^connected}}
                        <a class="ui button" href="/login">
                            <i class="icon sign in alternate"></i>
                            Se connecter
                        </a>
                        {{/connected}}
                    </div>
                </div>
            </div>
        </div>