{{> partials/header}}
<div class="row"></div>
<div class="row">
    <div class="column">
        {{#message}}
        <div class="ui {{messageType}} message">
            <i class="close icon"></i>
            <div class="header">
                {{&message}}
            </div>
        </div>
        {{/message}}
    </div>
</div>
<div class="row">
    <div class="column">
        <header class="header">
            <h1 class="content">Modifier un script</h1>
        </header>
    </div>
</div>
<div class="row">
    <div class="column">
        <form action="/script/submit" class="ui form" method="POST">
            <div class="content">
                <input name="id" type="hidden" value="{{id}}">
                <div class="field">
                    <label for="title">Nom</label>
                    <input id="title" name="title" placeholder="Nom" type="text" value="{{title}}">
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <input id="description" name="description" placeholder="Description" type="text"
                           value="{{description}}">
                </div>
                <div class="field">
                    <label for="content">Contenu</label>
                    <textarea id="content" name="content" placeholder="Contenu">{{content}}</textarea>
                </div>
                <div class="field">
                    <label for="comment">Commentaire</label>
                    <input id="comment" name="comment" placeholder="Commentaire sur les modifications effectuées"
                           type="text">
                </div>
                <button class="ui button" type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
{{> partials/footer}}