{{> partials/header}}
<div class="row"></div>
<div class="row">
    <div class="column">
        {{#message}}
        <div class="ui {{messageType}} message">
            <i class="close icon"></i>
            <div class="header">
                {{&message}}
            </div>
        </div>
        {{/message}}
    </div>
</div>
<div class="row">
    <div class="column">
        <header class="header">
            <h1 class="content">Ajouter un script</h1>
        </header>
    </div>
</div>
<div class="row">
    <div class="column">
        <form action="/script/submit" class="ui form" method="POST">
            <div class="content">
                <div class="field">
                    <label for="title">Nom</label>
                    <input id="title" name="title" placeholder="Nom" type="text">
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <input id="description" name="description" placeholder="Description" type="text">
                </div>
                <div class="field">
                    <label for="content">Contenu</label>
                    <textarea id="content" name="content" placeholder="Contenu"></textarea>
                </div>
                <div class="field">
                    <label for="category">Catégorie</label>
                    <select id="category" name="category">
                        <option disabled selected value="">Sélectionner une catégorie</option>
                        {{#categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/categories}}
                    </select>
                </div>
                <div class="field">
                    <label for="language">Langage</label>
                    <select id="language" name="language">
                        <option disabled selected value="">Sélectionner un langage</option>
                        {{#languages}}
                        <option value="{{id}}">{{name}}</option>
                        {{/languages}}
                    </select>
                </div>
                <button class="ui green labeled icon button" type="submit">
                    <i class="icon check"></i>
                    Enregistrer
                </button>
                <a class="ui labeled icon button" href="/index">
                    <i class="icon times"></i>
                    Annuler
                </a>
            </div>
        </form>
    </div>
</div>
{{> partials/footer}}