{{>main/header}}
<a href="/orgas/index">
    <h1 class="ui header">
        <i class="envelope icon"></i>
        <span class="content">
        SpringBoot TD2
        <span class="sub header">Application de messagerie</span>
    </span>
    </h1>
</a>
<div class="ui segment">
    <a href="/orgas/new" class="ui secondary button">
        <i class="icon plus"></i>
        Ajouter une organisation…
    </a>
    <br><br>
    <a href="/orgas/index" class="ui button">
        <i class="icon times"></i>
        Fermer
    </a>
    <a href="/orgas/delete/{{id}}" class="ui inverted red button">
        <i class="icon times"></i>
        Supprimer {{domain}}…
    </a>
    <a href="/orgas/edit/{{id}}" class="ui basic button">
        <i class="icon edit"></i>
        Modifier {{domain}}…
    </a>
    <table class="ui definition table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{id}}</td>
            </tr>
            <tr>
                <td>Nom</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Domaine</td>
                <td>{{domain}}</td>
            </tr>
            <tr>
                <td>Alias</td>
                <td>{{aliases}}</td>
            </tr>
            <tr>
                <td>Groupes</td>
                <td>
                    ...
                </td>
            </tr>
            <tr>
                <td>Utilisateurs</td>
                <td>
                    ...
                </td>
            </tr>
        </tbody>
    </table>
</div>
{{>main/footer}}
