{{> partials/header}}
<div class="row"></div>
<div class="row">
    <div class="column">
        <header class="header">
            <h1 class="content">Accueil</h1>
            {{#connected}}
            <p class="sub header">Vous êtes connecté en tant que {{identity}} ({{email}}).</p>
            {{/connected}}
        </header>
        <div class="ui hidden divider"></div>
        <a class="ui teal button" href="/script/new">
            <i class="icon plus"></i>
            Ajouter un script
        </a>
        <a class="ui orange button" href="/category/new">
            <i class="icon plus"></i>
            Ajouter une catégorie
        </a>
        <a class="ui blue button" href="/language/new">
            <i class="icon plus"></i>
            Ajouter un langage
        </a>
        <div class="ui hidden divider"></div>
        {{#connected}}
        <table class="ui table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Langage</th>
                <th class="right aligned">Action</th>
            </tr>
            </thead>
            <tbody>
            {{#scripts}}
            <tr>
                <td>{{title}}</td>
                <td>{{#category}}{{name}}{{/category}}{{^category}}-{{/category}}</td>
                <td>{{#language}}{{name}}{{/language}}{{^language}}-{{/language}}</td>
                <td class="right aligned">
                    <a class="circular ui basic icon button" href="/script/{{id}}" title="Modifier">
                        <i class="icon edit"></i>
                    </a>
                </td>
            </tr>
            {{/scripts}}
            {{^scripts}}
            <tr>
                <td colspan="2">
                    Aucun script
                </td>
            </tr>
            {{/scripts}}
            </tbody>
        </table>
        {{/connected}}
        {{^connected}}
        <p>Connectez-vous pour avoir accès à la liste de vos scripts.</p>
        {{/connected}}
    </div>
</div>
{{> partials/footer}}