{{> partials/header}}
<div class="row">
    <div class="column">
        {{#message}}
        <div class="ui {{messageType}} message">
            <i class="close icon"></i>
            <div class="header">
                {{&message}}
            </div>
        </div>
        {{/message}}
    </div>
</div>
<div class="row">
    <div class="four wide column">
        <header class="header">
            <h1 class="content">Se connecter</h1>
        </header>
        <div class="ui hidden divider"></div>
        <form action="/doLogin" class="ui form" method="POST">
            <div class="field">
                <label for="login">Identifiant</label>
                <input autocomplete="off" id="login" name="login" placeholder="Identifiant" type="text">
            </div>
            <div class="field">
                <label for="password">Mot de passe</label>
                <input id="password" name="password" placeholder="Mot de passe" type="password">
            </div>
            <button class="ui button" type="submit">Se connecter</button>
        </form>
    </div>
</div>
{{> partials/footer}}